<div style="margin: 30px">
  <div>

    <button class="mat-purple-A700" routerLink="/commer/promotion/-1" style="margin-bottom: 15px" mat-raised-button><mat-icon>add</mat-icon>Ajouter une promotion</button>


  </div>

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="promotionService.dataSource" matSort>

      <!-- ID Column -->


      <ng-container matColumnDef="commercant">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Commerçant</th>
        <td mat-cell *matCellDef="let row"> {{row.commercant}}</td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="categorieNom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>categorie </th>
        <td mat-cell *matCellDef="let row"> {{row.categorieNom}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="SousCategorieNom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>sous categorie </th>
        <td mat-cell *matCellDef="let row"> <p *ngFor="let souscat of row.SousCategorieNom">{{souscat}}</p></td>
      </ng-container>


      <ng-container matColumnDef="promotionNom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>promotion </th>
        <td mat-cell *matCellDef="let row" > {{row.promotionNom}} </td>
      </ng-container>

      <ng-container matColumnDef="adresse">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> point de vente </th>
        <td style="width: 100px" mat-cell *matCellDef="let row" >
          <p *ngFor="let adresse of row.PTV">{{adresse}}</p> </td>
      </ng-container>



      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
        <td style="width: 150px" mat-cell *matCellDef="let row" > {{row.description}} </td>
      </ng-container>

      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Images </th>
        <!--<td mat-cell *matCellDef="let row"> {{row.imagePath}} </td>-->
        <td style="padding: 5px ; width: 400px" mat-cell *matCellDef="let row" > <img *ngFor="let img of row.imagePath" style="width: 90px; height: 90px; margin: 10px" src="{{img}}"> </td>
      </ng-container>



      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
        <td style="width: 10px" mat-cell *matCellDef="let row" >
          <button *ngIf="row.valide == 0" mat-button class="mat-deep-purple-A700" (click)="active(row._id)">Activer</button>
          <button *ngIf="row.valide == 1" mat-button class="mat-grey-600" (click)="desactive(row._id)">Désactiver</button>
          <button matTooltip="modifier" mat-icon-button [routerLink]="['/commer/promotion/',row._id]"><mat-icon>edit</mat-icon></button>
          <button matTooltip="supprimer" mat-icon-button (click)="supprimer(row._id)" ><mat-icon>delete</mat-icon></button>

        </td>

      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>

