
<div style="margin-left: 20%; margin-right: 20%; margin-top: 5%">
  <mat-card>
    <mat-card-content>
      <button matTooltip=" Retour au liste des categories, toutes les modification seront perdues" routerLink="/admin/categorie" style="margin-top: 15px; float: right;"  mat-raised-button><mat-icon>undo</mat-icon>
        </button>
    <form [formGroup]="angForm" novalidate>


      <div class="pb-1">
        <mat-form-field style="width: 100%">
          <input matInput  placeholder="nom de la catégorie" type="text" [formControl]="angForm.controls['CategorieNom']">
          <mat-error *ngIf="angForm.controls['CategorieNom'].hasError('required') && angForm.controls['CategorieNom'].touched" class="mat-text-warn">  Le nom de la catégorie est requis.</mat-error>
        </mat-form-field>

      </div>



      <div class="pb-1">
        <mat-form-field style="width: 100%">

          <input matInput  placeholder="Description de la catégorie" type="text" [formControl]="angForm.controls['CategorieDescription']">
          <mat-error *ngIf="angForm.controls['CategorieDescription'].hasError('required') && angForm.controls['CategorieDescription'].touched" class="mat-text-warn">   La description de la catégorie est obligatoire.</mat-error>
        </mat-form-field>

      </div>



            <div class="pb-1">
        <mat-form-field style="width: 100%">
          <input matInput  placeholder="Priorité" type="number" [formControl]="angForm.controls['CategoriePriority']">
          <mat-error *ngIf="angForm.controls['CategoriePriority'].hasError('required') && angForm.controls['CategoriePriority'].touched" class="mat-text-warn"> La priorité de catégorie est requise.</mat-error>
        </mat-form-field>

      </div>


      <div class="pb-1">
        <button mat-stroked-button type="button" (click)="filePicker.click()">Selectioner une image</button>
        <input hidden type="file" class="form-control"

               #filePicker (change)="onImagePicked($event)">

      </div>
      <div class="image-preview pb-1" *ngIf="imagePreview !== '' && imagePreview ">
        <img style="width: 300px ; height: 200px " [src]="imagePreview" [alt]="angForm.value.title">
      </div>
      <div class="form-group" >
        <button matTooltip=" Retour au liste des categories, toutes les modification seront perdues" routerLink="/admin/categorie" style="margin-left: 15px; float: right;"  mat-raised-button>Annuler
        </button>
        <button style="float:right" (click) = "addCategorie()"  type="submit" mat-raised-button class="mat-blue-A400" >
          Créer une catégorie
        </button>
        <br>
      </div>



    </form>
    </mat-card-content>
  </mat-card>
</div>
