

<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">nom de la catégorie</label>
        <input type="text" class="form-control"
               formControlName="CategorieNom"
               #CategorieNom />
      </div>
      <div *ngIf="angForm.controls['CategorieNom'].invalid && (angForm.controls['CategorieNom'].dirty || angForm.controls['CategorieNom'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['CategorieNom'].errors.required">
          Le nom de la catégorie est requis.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">description de la catégorie </label>
        <textarea class="form-control" rows = 7 cols = "5"
                  formControlName="CategorieDescription"
                  #CategorieDescription></textarea>
      </div>
      <div *ngIf="angForm.controls['CategorieDescription'].invalid && (angForm.controls['CategorieDescription'].dirty || angForm.controls['CategorieDescription'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['CategorieDescription'].errors.required">
          La description de la catégorie est obligatoire.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Priorité de catégorie</label>
        <input type="number" class="form-control"
               formControlName="CategoriePriority"
               #CategoriePriority
        />
      </div>
      <div *ngIf="angForm.controls['CategoriePriority'].invalid && (angForm.controls['CategoriePriority'].dirty || angForm.controls['CategoriePriority'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['CategoriePriority'].errors.required">
          La priorité de catégorie est requise.
        </div>
      </div>
      <div class="pb-1">
        <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
        <input hidden type="file" class="form-control"

               #filePicker (change)="onImagePicked($event)">

      </div>
      <div class="image-preview pb-1" *ngIf="imagePreview !== '' && imagePreview ">
        <img [src]="imagePreview" [alt]="angForm.value.title">
      </div>
      <div class="form-group">
        <button (click) = "addCategorie()" type="submit" class="btn btn-primary"
                [disabled]="angForm.pristine || angForm.invalid" >
          Créer une catégorie
        </button>
      </div>
    </form>
  </div>
</div>
