<div style="margin-left: 20%; margin-right: 20%; margin-top: 5%">
  <mat-card>
    <mat-card-content>
    <form [formGroup]="angForm" novalidate>

      <div class="pb-1">
        <mat-form-field style="width: 100%">
          <input matInput  placeholder="nom de sous catégorie" type="text" [formControl]="angForm.controls['SousCategorieNom']">
          <mat-error *ngIf="angForm.controls['SousCategorieNom'].hasError('required') && angForm.controls['SousCategorieNom'].touched" class="mat-text-warn"> Un nom de sous catégorie est requis.</mat-error>
        </mat-form-field>

      </div>


      <div class="pb-1">
        <mat-form-field style="width: 100%">
          <input matInput  placeholder="La priorité de sous catégorie" type="number" [formControl]="angForm.controls['SousCategoriePriority']">
          <mat-error *ngIf="angForm.controls['SousCategoriePriority'].hasError('required') && angForm.controls['SousCategoriePriority'].touched" class="mat-text-warn">  La priorité de sous catégorie est requise sous forme de numéro .</mat-error>
        </mat-form-field>

      </div>

      <mat-form-field>
        <mat-label>nom de catégorie</mat-label>
        <mat-select [(value)]="selected"
                    formControlName="CategorieNom"
                    #CategorieNom>

          <mat-option *ngFor="let cat of categories" [value]=cat.CategorieNom>
            {{cat.CategorieNom}}
          </mat-option>

        </mat-select>
      </mat-form-field>
        <p>Vous avez sélectionné: {{selected}}</p>
        <mat-error *ngIf="angForm.controls['CategorieNom'].hasError('required') && angForm.controls['CategorieNom'].touched" class="mat-text-warn">  Un nom de catégorie est requis.</mat-error>








      <div class="form-group">
        <button  matTooltip="Info about the action" style="float:right" (click) = "addSousCategorie(angForm.value.SousCategorieNom,angForm.value.CategorieNom,angForm.value.SousCategoriePriority)" type="submit" mat-raised-button color="primary"
                [disabled]="angForm.pristine || angForm.invalid "  >
          Créer une sous catégorie
        </button>
        <br>
      </div>
    </form>
    </mat-card-content>
  </mat-card>
</div>
