<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="categorie">
    <form [formGroup]="categorie">
      <ng-template matStepLabel>Nom de Catégorie</ng-template>
      <mat-form-field>
      <mat-label>nom de catégorie</mat-label>
      <mat-select [(value)]="catecorieSelected"
      formControlName="nom" (valueChange)="refrechSouscategorie_byCategorie()">

      <mat-option *ngFor="let cat of categories" [value]=cat.CategorieNom>
      {{cat.CategorieNom}}
      </mat-option>

      </mat-select>
        <mat-error *ngIf="categorie.controls['nom'].hasError('required') " class="mat-text-warn"> vous devez selectionner un catégorie.</mat-error>

      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="sousCategorie">
    <form [formGroup]="sousCategorie">
      <ng-template matStepLabel>Nom de sous catégorie</ng-template>
      <mat-form-field>
        <mat-label>nom de sous catégorie</mat-label>
        <mat-select [(value)]="sousCategorieSelected"
                    formControlName="nom" >

          <mat-option *ngFor="let cat of sousCategories" [value]=cat.SousCategorieNom>
            {{cat.SousCategorieNom}}
          </mat-option>

        </mat-select>
        <mat-error *ngIf="sousCategorie.controls['nom'].hasError('required') " class="mat-text-warn"> vous devez selectionner un sous catégorie.</mat-error>

      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Précédent</button>
        <button mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="promotion">
    <form [formGroup]="promotion">
      <ng-template matStepLabel>Nom de promotion</ng-template>
      <mat-form-field>
        <input matInput placeholder="Nom de promotion" formControlName="nom" required>
        <mat-error *ngIf="promotion.controls['nom'].hasError('required') " class="mat-text-warn"> vous devez selectionner un promotion.</mat-error>

      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Précédent</button>
        <button mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="user">
    <form [formGroup]="user">
      <ng-template matStepLabel>Nom de Commerçant</ng-template>
      <mat-form-field>
        <mat-label>nom de commerçant</mat-label>
        <mat-select [(value)]="UserSelected"
                    formControlName="nom" >

          <mat-option *ngFor="let cat of users" [value]=cat>
            {{cat.nom}}
          </mat-option>

        </mat-select>
        <mat-error *ngIf="user.controls['nom'].hasError('required') " class="mat-text-warn"> vous devez selectionner un commerçant.</mat-error>

      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Précédent</button>
        <button mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <form [formGroup]="commentaire">
      <ng-template matStepLabel>Terminé</ng-template>
      <mat-form-field class="example-container">
        <textarea  matInput placeholder="Commentaire" formControlName="com" required></textarea>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Précédent</button>
        <button mat-button (click)="stepper.reset()">Réinitialiser</button>
        <button mat-button class="mat-deep-purple-A200" (click)="ajouter()">Ajouter</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>


