<div style="margin: 30px">
  <div>



    <button matTooltip="retour au list de pays" routerLink="/admin/pays" style="margin-top: 15px; float: right;"  mat-raised-button><mat-icon>undo</mat-icon></button>

  </div>

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>





      <ng-container matColumnDef="pays">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Pays </th>
        <td mat-cell *matCellDef="let row"> {{row.Nom}} </td>
      </ng-container>




      <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Priorite </th>
        <td mat-cell *matCellDef="let row">
          <p>
            <span matBadge="{{row.Priority}}" *ngIf="row.Priority <=3"  matBadgeColor="warn"  style="align-content: center"></span>
            <span matBadge="{{row.Priority}}" *ngIf="  row.Priority <7  && row.Priority >3 "  matBadgeColor="accent"  style="align-content: center"></span>
            <span matBadge="{{row.Priority}}" *ngIf="  row.Priority >=7 "  matBadgeColor="blue"  style="align-content: center"></span>
          </p>
        </td>
      </ng-container>




      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
        <td mat-cell *matCellDef="let row" >
          <button matTooltip="modifier cepays" mat-icon-button (click) = "openDialog2(row._id)" ><mat-icon>undo</mat-icon> </button>
          <button matTooltip="Vous allez archiver ce pays " mat-icon-button color="warn"  (click) = "openDialog(row._id)"><mat-icon>delete_outline</mat-icon></button>
        </td>

      </ng-container>





      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
