


<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>

      <div class="pb-1">
        <label class="col-md-4">
          nom de sous catégorie</label>
        <mat-form-field style="width: 100%">
          <input matInput  [(ngModel)] = "souscategorie.SousCategorieNom" type="text" [formControl]="angForm.controls['SousCategorieNom']">
          <mat-error *ngIf="angForm.controls['SousCategorieNom'].hasError('required') && angForm.controls['SousCategorieNom'].touched" class="mat-text-warn"> Un nom de sous catégorie est requis.</mat-error>
        </mat-form-field>

      </div>




      <div class="pb-1">
        <label class="col-md-4">
          nom de catégorie</label>
        <br>
        <mat-form-field>

          <mat-select [(value)]="selected"

                      #CategorieNom>

            <mat-option *ngFor="let cat of cate" [value]=cat.CategorieNom>
              {{cat.CategorieNom}}
            </mat-option>

          </mat-select>
        </mat-form-field>
        <p>Vous avez sélectionné: {{selected}}</p>


      </div>




      <div class="pb-1">
        <mat-form-field style="width: 100%">
          <input matInput   [(ngModel)] = "souscategorie.Priority" type="number" [formControl]="angForm.controls['SousCategoriePriority']">
          <mat-error *ngIf="angForm.controls['SousCategoriePriority'].hasError('required') && angForm.controls['SousCategoriePriority'].touched" class="mat-text-warn">  La priorité de sous catégorie est requise sous forme de numéro .</mat-error>
        </mat-form-field>

      </div>

      <div class="form-group">
        <button (click) = "updateSousCategorie(angForm.value.SousCategorieNom, CategorieNom.value, angForm.value.SousCategoriePriority)" type="submit" class="btn btn-primary"
                [disabled]="angForm.invalid" >
          Modifier la categorie
        </button>
      </div>
    </form>
  </div>
</div>
