<div style="margin: 30px">
  <div>

    <button color="primary" routerLink="/client/-1" style="margin-bottom: 15px" mat-raised-button><mat-icon>add</mat-icon>Ajouter Client</button>
    <button color="warn" routerLink="/commercant/-1" style="margin: 15px" mat-raised-button><mat-icon>add</mat-icon>Ajouter Commerçant</button>
    <button  matTooltip="consulter l'archive des des clients" routerLink="/archive" style="margin-top: 15px; float: right;"  mat-raised-button><mat-icon>note</mat-icon> Archive</button>

  </div>


  <mat-form-field>
    <input [(ngModel)]="value" matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" autocomplete="off">
    <!--<button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clear()"><mat-icon>close</mat-icon></button>-->
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="imagePath">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Avatar </th>
        <!--<td mat-cell *matCellDef="let row"> {{row.imagePath}} </td>-->
        <td style="padding: 5px" mat-cell *matCellDef="let row" > <img style="width: 90px; height: 90px; margin: 10px" src="{{row.imagePath}}"> </td>
      </ng-container>

      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
        <td mat-cell *matCellDef="let row"> {{row.nom}}  {{row.prenom}}</td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nombreJeton">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre de Jeton </th>
        <td mat-cell *matCellDef="let row"> {{row.nombreJeton}}</td>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
        <td mat-cell *matCellDef="let row"  > <p *ngIf="row.role == 2">Client</p> <p *ngIf="row.role == 1"> Commerçant</p> </td>
      </ng-container>

      <ng-container matColumnDef="dateCreation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de Creation </th>
        <td mat-cell *matCellDef="let row" > {{row.dateCreation|date}} </td>
      </ng-container>

      <!--<ng-container matColumnDef="image">-->
      <!--<th mat-header-cell *matHeaderCellDef mat-sort-header> image </th>-->
      <!--&lt;!&ndash;<td mat-cell *matCellDef="let row" > {{row.image}} </td>&ndash;&gt;-->
      <!--<td style="padding: 5px" mat-cell *matCellDef="let row" > <img style="width: 80%; height: 20%" src="./assets/img/{{row.image}}"> </td>-->

      <!--&lt;!&ndash;<td mat-cell *matCellDef="let row" > <img [src]="row.image"/></td>&ndash;&gt;-->
      <!--</ng-container>-->


      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
        <td mat-cell *matCellDef="let row" >
          <button matTooltip="modifier ce client" mat-icon-button (click)="update(row._id, row.role)"><mat-icon>edit</mat-icon></button>
          <button matTooltip="Vous allez archiver ce client " mat-icon-button color="warn" (click)="openDialog(row._id)"><mat-icon>archive</mat-icon></button>
        </td>

      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[6, 8, 10, 20, 50, 100]"></mat-paginator>
  </div>
</div>

